@font-face {
  font-family: "Bebas";
  src: url("../колесо/koleso/fonts/Bebas.ttf");
}

:root {
  --primary-color: #4bbe01;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
p {
  margin: 0;
}
button {
  cursor: pointer;
}
body {
  background-color: var(--primary-color);
}
.conteiner {
  width: 404px;
  margin-right: auto;
  margin-left: auto;
}
.bg-conteiner {
  position: absolute;
  width: 577px;
  height: 744px;
  left: 378px;
  top: 160.98px;

  background: #f4f4f4;
  border-radius: 50px;
}
.description-wheel-conteiner {
  left: 388px;
  top: 170px;
  /* transform: translateY(-50%); */
  width: 577px;
  height: 744px;
  background: #ffffff;
  box-shadow: 0px 0px 130px rgba(0, 0, 0, 0.09),
    0px 74px 81px rgba(0, 0, 0, 0.08);
  border-radius: 50px;
  position: relative;
  padding-top: 44px;
  padding-bottom: 44px;
}
.wheel-title {
  font-family: "Alumni Sans";
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 80px;
  line-height: 83.9%;
  /* font-feature-settings: "ordn" on; */
  color: var(--primary-color);
  /* padding: 45px 52px; */
}
.wheel-title::after {
  content: "";
  display: block;
  width: 101px;
  height: 2px;
  background-color: var(--primary-color);
  border-radius: 10px;
  margin-top: 17px;
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: auto;
}

.sales-conteiner {
  width: 404px;
  height: 308px;
  background-color: var(--primary-color);
  border-radius: 30px;
  padding: 35.5px 28.8px;
}
.sales-conteiner-title {
  font-family: "averta-cy";
  font-style: normal;
  font-weight: 700;
  font-size: 39.628px;
  line-height: 102.9%;
  text-align: center;
  color: #ffffff;
}
.sales-conteiner-title::after {
  content: "";
  display: block;
  width: 200px;
  height: 2px;
  background: #ffffff;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}
.sales-conteiner-paragraph {
  font-family: "averta-cy";
  font-style: normal;
  font-size: 25px;
  line-height: 105.4%;
  text-align: center;
  color: #ffffff;
}
.sales-conteiner-paragraph > span {
  font-weight: 700;
}
.form-p {
  font-family: "Alumni Sans";
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 83.9%;
  /* or 25px */
  color: var(--primary-color);
  letter-spacing: 0.01em;
}
.input-email {
  width: 100%;
  border: 1px solid #dadada;
  border-radius: 6px;
  margin-top: 25px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 22px;
}
.input-email::placeholder {
  color: #000000;
}
.go-to-game-button {
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 105.4%;
  color: #ffffff;
  background-color: var(--primary-color);
  padding-top: 27px;
  padding-bottom: 27px;
  border: none;
  border-radius: 6px;
  margin-top: 15px;
}
form {
  margin-top: 40px;
  margin-bottom: 44px;
}

/* =============================Колесо=============================== */
@font-face {
  font-family: "Bebas";
  src: url("../fonts/Bebas.ttf");
}

/* делаем везде так, чтобы свойства width и height задавали не размеры контента, а размеры блока */
* {
  box-sizing: border-box;
}

/* общие настройки страницы */
.body-deal-wheel {
  /* подключаем сетку */
  display: grid;
  /* ставим всё по центру */
  place-items: center;
  /* если что-то не помещается на своё место — скрываем то, что не поместилось */
  overflow: hidden;
  font-family: "Bebas", sans-serif;
}

/* общий блок для всех элементов */
.deal-wheel {
  /* задаём переменные блока */
  /* размеры колеса */
  --size: clamp(250px, 80vmin, 700px);
  /* настройки яркости и заливки фона секторов */
  --lg-hs: 0 3%;
  --lg-stop: 50%;
  --lg: linear-gradient(
    hsl(var(--lg-hs) 0%) 0 var(--lg-stop),
    hsl(var(--lg-hs) 20%) var(--lg-stop) 100%
  );
  /* добавляем позиционирование относительно других элементов */
  position: relative;
  /* подключаем сетку */
  display: grid;
  grid-gap: calc(var(--size) / 20);
  /* выравниваем содержимое блока по центру */
  align-items: center;
  /* задаём имена областей внутри сетки */
  grid-template-areas:
    "spinner"
    "trigger";
  /* устанавливаем размер шрифта */
  font-size: calc(var(--size) / 21);
}

.deal-wheel::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: -7%;
  left: 0;
  background-image: url("../img/center.svg");
  background-size: 20%;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}

.deal-wheel::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 9%);
  height: calc(100% + 9%);
  /* top: calc(-40px + -4%); */
  top: -10%;
  left: -4%;
  background-image: url("../img/circle.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}

/* всё, что относится ко внутренним элементам главного блока, будет находиться в области сетки с названием spinner */
.deal-wheel > * {
  grid-area: spinner;
}

/* сам блок и кнопка будут находиться в области сетки с названием trigger и будут выровнены по центру */
.deal-wheel .btn-spin {
  grid-area: trigger;
  justify-self: center;
}

/* сектор колеса */
.spinner {
  /* добавляем относительное позиционирование */
  position: relative;
  /* подключаем сетку */
  display: grid;
  /* выравниваем всё по центру */
  align-items: center;
  /* добавляем элемент в сетку */
  grid-template-areas: "spinner";
  /* устанавливаем размеры */
  width: var(--size);
  height: var(--size);
  /* поворачиваем элемент  */
  transform: rotate(calc(var(--rotate, 25) * 1deg));
  /* рисуем круглую обводку, а всё, что не поместится, — будет скрыто за кругом */
  border-radius: 50%;
}

.spinner::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/shadow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(20deg);
  opacity: 0.6;
  pointer-events: none;
}

/* всё, что внутри этого блока, будет находиться в области сетки с названием spinner */
.spinner * {
  grid-area: spinner;
}

/* текст на секторах */
.prize {
  /* включаем «гибкую» вёрстку */
  display: flex;
  align-items: center;
  /* задаём отступы от краёв блока */
  padding: 0 calc(var(--size) / 6) 0 calc(var(--size) / 25);
  /* устанавливаем размеры */
  width: 46.5%;
  height: 50%;
  /* устанавливаем координаты, относительно которых будем вращать текст */
  transform-origin: center right;
  /* поворачиваем текст */
  transform: rotate(var(--rotate));
  /* запрещаем пользователю выделять мышкой текст на секторах */
  user-select: none;
}

.prize.white span {
  color: #000;
}

.prize.small span {
  font-size: 1.4em;
}

.prize span {
  color: #fff;
  text-transform: uppercase;
  /* font-family: Arial, sans-serif; */
  position: relative;
  left: -20%;
  font-size: 1.8em;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* язычок */
.ticker {
  /* добавляем относительное позиционирование */
  position: relative;
  /* устанавливаем размеры */
  left: -8%;
  width: 15%;
  height: 15%;
  z-index: 1;
}

.ticker img {
  display: block;
  width: 100%;
  transform: rotate(4deg);
}

/* кнопка запуска колеса */
.btn-spin {
  color: white;
  background: black;
  border: none;
  /* берём размер шрифта такой же, как в колесе */
  font-size: inherit;
  /* добавляем отступы от текста внутри кнопки */
  padding: 0.9rem 2rem 1rem;
  /* скругляем углы */
  border-radius: 0.5rem;
  /* меняем внешний вид курсора над кнопкой на руку*/
  cursor: pointer;
}

/* если кнопка нажата и неактивна */
.btn-spin:disabled {
  /* меняем внешний вид курсора */
  cursor: progress;
  /* делаем кнопку полупрозрачной */
  opacity: 0.25;
}

/* анимация вращения */
.is-spinning .spinner {
  transition: transform 8s cubic-bezier(0.1, -0.01, 0, 1);
}

/* анимация движения язычка */
.is-spinning .ticker {
  animation: tick 700ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

/* эффект, когда колесо задевает язычок при вращении */
@keyframes tick {
  40% {
    /* чуть поворачиваем язычок наверх в середине анимации */
    transform: rotate(-12deg);
  }
}

/* анимируем выпавший сектор */
.prize.selected .text {
  /* делаем текст белым */
  /* color: white; */
  /* настраиваем длительность анимации */
  animation: selected 800ms ease;
}

/* настраиваем анимацию текста на выпавшем секторе по кадрам */
@keyframes selected {
  /* что происходит на 25% от начала анимации */
  25% {
    /* увеличиваем текст в 1,25 раза */
    transform: scale(1.25);
    /* добавляем тексту тень */
    text-shadow: 1vmin 1vmin 0 hsla(0 0% 0% / 0.1);
  }
  40% {
    transform: scale(0.92);
    text-shadow: 0 0 0 hsla(0 0% 0% / 0.2);
  }
  60% {
    transform: scale(1.02);
    text-shadow: 0.5vmin 0.5vmin 0 hsla(0 0% 0% / 0.1);
  }
  75% {
    transform: scale(0.98);
  }
  85% {
    transform: scale(1);
  }
}

@media (max-width: 420px) {
  .deal-wheel::after {
    top: -12%;
  }
  .prize {
    width: 42.5%;
  }
  .prize span {
    left: -60%;
  }
}
